<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong class="capitalize">{{ folder }}</strong>

    <ion-item-divider> </ion-item-divider>

    <!-- Colors -->
    <ion-button (click)="presentAlertConfirm()" color="primary"
      >Primary</ion-button
    >

    <ion-card>
      <ion-item
        [routerLink]="folder/Inbox"
        class="ion-activated"
        *ngIf="folder == 'Inbox'"
      >
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-label>Inbox Link with inner Page</ion-label>
      </ion-item>

      <ion-item [routerLink]="folder/Outbox" *ngIf="folder == 'Outbox'">
        <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
        <ion-label>Outbox Link with inner Page</ion-label>
      </ion-item>

      <ion-item [routerLink]="folder/Favorites" *ngIf="folder == 'Favorites'">
        <ion-icon name="heart-outline" slot="start"></ion-icon>
        <ion-label>heart Link with inner Page</ion-label>
      </ion-item>

      <ion-item [routerLink]="folder/Archived" *ngIf="folder == 'Archived'">
        <ion-icon name="archive-outline" slot="start"></ion-icon>
        <ion-label>Archived Link with inner Page</ion-label>
      </ion-item>

      <ion-item [routerLink]="folder/Trash" *ngIf="folder == 'Trash'">
        <ion-icon name="trash-outline" slot="start"></ion-icon>
        <ion-label>Trash Link with inner Page</ion-label>
      </ion-item>

      <ion-item [routerLink]="folder/Spam" *ngIf="folder == 'Spam'">
        <ion-icon name="warning-outline" slot="start"></ion-icon>
        <ion-label>Spam Link with inner Page</ion-label>
      </ion-item>
    </ion-card>

    <!-- end -->
  </div>
</ion-content>
